.pagelayout{

    display: grid;
    justify-content: center;
    align-items: center;
    height: 100%;
   
    &__left{
        text-align: center;
    }

    &__right{

    }
}

@media (min-width: '768px') {
    .pagelayout{

        margin-top: 7rem;
    }
    
}

@media (min-width: '1024px') {
    .pagelayout{
        margin-top: 0;
        grid-auto-flow: column;
        justify-content: space-evenly;
        grid-template-columns: repeat(2,1fr);

    }
    
}